.cursor {
    background-color: white;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    margin-top: 0;
  }

/* Hide custom cursor on mobile devices */
@media (max-width: 639px) {
  .cursor {
    display: none;
  }
}